<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" size="small">
      CONTROLE DE ATROPELAMENTO<br/> DE FAUNA
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



<!-- List of Text Items -->
<ion-list>
  <ion-item *ngFor="let atrop of atrops">
    <ion-avatar slot="start">
      <img src="./assets/img/no-image-icon.png" />
    </ion-avatar>
    <ion-label>
      <h2>{{atrop.especie}}</h2>
      <h3>{{atrop.rodovia}}</h3>
      <p>{{atrop.dataFormatada}}</p>
    </ion-label>
  </ion-item>
</ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/cadastro']"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
