<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" size="small">
      CONTROLE DE ATROPELAMENTO<br/> DE FAUNA
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="./assets/img/no-image-icon.png" />
    </ion-avatar>
    <ion-label>
      <h2>Tartaruga</h2>
      <h3>BR-290/RS</h3>
      <p>01/09/2022 10:45</p>
    </ion-label>
  </ion-item>
</ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/cadastro']"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
